<!doctype html>
    <html lang="en">
      <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>સામાજીક</title>
      </head>
      <script>
          {% if thank %}
             alert('તમારો રજીસ્ટ્રેશન નંબર {{eid}}.');
             localStorage.clear();
             document.location = "/thanks";
        {% endif %}
      </script>
      <style>
          #bgcolor
          {
            background-color: #26a0da;
            background-image: linear-gradient(to bottom, #7209b7, #26a0da);
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
          }
      </style>
      <body id="bgcolor">
        {% load static %}
        <div style=" margin-top: 6%; margin-bottom: 3.6%; margin-right: 35%; margin-left: 35%">
            <div class="container mt-3" style="background-color:#03046E; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);padding:0px; color: #fff; border-radius: 15px; margin-bottom: 7%; ">
                <div style="background-color:#03044E; color: #fff; min-height:127px; padding:25px; border-radius: 15px; margin-top: 9%;">
                    <center>
                        <h2><strong>ઈન્કવાઈરી પોઇન્ટ</strong></h2>
                        <em>ઈન્કવાઈરી પોઇન્ટ જરૂરતમંદો માટે કાયમી ઉપાય</em>
                    </center>
                </div>
                <div style="padding:20px"><br>
                    <div align="center">
                        <h2><strong><span style="color:#fff">અલ-હુજ્જત મરકઝુન નસ્ર</span></strong></h2>
                    </div>
                    <div id="jform3">
                        <form name="jtest_from3" id="jtest_from3" method="post" enctype="multipart/form-data" action="samajik">
                            {% csrf_token %}
                            <center><h3>સામાજીક</h3></center>
                            <hr color="white">
                            <div>
                                <label class="labelName">
                                    નામ:
                                    <em class="important" style="color:red">*</em>
                                </label>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input class="form-control" type="text" maxlength="255" name="JSName_First" required style="padding:8px; " placeholder="Firstname">
                                </div>
                                <div class="form-group col-md-6">
                                    <input class="form-control" type="text" maxlength="255" name="JSName_Last" required style="padding:8px; " placeholder="Lastname">
                                </div>
                            </div>
                            <div>
                                <label class="labelName">
                                    મોબાઈલ:
                                    <em class="important" style="color:red">*</em>
                                </label>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <input type="tel" class="form-control" maxlength="10" name="JSMob_num" required style="padding:8px;" placeholder="Mobile Number">
                                </div>
                            </div>
                            <div>
                                <label class="labelName">
                                    ઈ-મેલ:
                                    <em class="important" style="color:red">*</em>
                                </label>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <input type="email" class="form-control" maxlength="50" name="JSEmail" required style="padding:8px;" placeholder="Email-ID">
                                </div>
                            </div>
                            <div>
                                <label class="labelName">
                                    સામાજીક ખર્ચની વિગત
                                    <em class="important" style="color:red">*</em>
                                </label>
                            </div>
                            <div class="form-row">
                                <div class="mb-5 col-md-12">
                                    <textarea class="form-control" name="j3text" id="j3text" rows="5"></textarea>
                                </div>
                            </div>
                            <div>
                                <label class="labelName">
                                    અંદાજિત ખર્ચ
                                    <em class="important" style="color:red">*</em>
                                </label>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <input type="number" class="form-control" maxlength="20" name="J3_Cost" required style="padding:8px;">
                                </div>
                            </div>
                            <div>
                                <center>
                                    <input type="submit" name="final_submit" class="btn btn-success">
                                </center>
                            </div>
                        </form>
                    </div>
                </div>



<!--                Optional JavaScript -->
<!--                jQuery first, then Popper.js, then Bootstrap JS -->
                <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
                <script src='https://kit.fontawesome.com/a076d05399.js'></script>
            </div>
            <br>
        </div>
      </body>
    </html>